@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: white;
  /* background-color: #80630225; */
}

p {
  font-size: 1rem;
}

button {
  background-color: #De5935;
  border: 2px solid;
  border-radius: 2rem;
  color: black;
  font-size: 1rem;
  font-family: inherit;
  max-width: 5rem;
  padding: 0.3rem 0.3rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #5AC3B080;
}

.container {
  margin: 0 auto;
  max-width: 100vw;
  overflow: auto;
  text-align: center;
}

.featured-and-related{
  display: grid; 
  /* grid-template-areas: 
  'welcome search'
  'featured thumbnails'
  'info thumbnails'; */
  /* grid-auto-columns: repeat(2, 1fr);  */
  grid-template-columns:  fit-content(40%) auto;
  justify-items: center;
  align-content: center;
  align-items: top;
  row-gap: 1rem;
  justify-content: space-evenly;
}

.featured{
  /* grid-area: featured; */
  grid-column: 1/2;
  grid-row: 2;
}


.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.search{
  display: flex;
  /* max-height: fit-content;   */
  justify-content: right;
  padding-bottom: 2rem;
  padding-top: 2rem;
  height: 3rem;
  align-items: center;
  /* grid-area: search; */
  grid-column: 3; 
  grid-row: 1;
} 

.search-input{
  height: 3rem; 
  border-radius: 2rem;
  width: 15rem;
  font-size: 1rem;
  padding-left: 1rem;
}

.thumbnails{
  /* grid-area: thumbnails; */
  grid-column:3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.thumbnail-item{
  padding-bottom: 1rem; 
}

.thumbnail-item:hover{
  scale: 1.05;
  border: darkslategrey;

}

.welcome{
  /* grid-area: welcome;  */
  grid-column: 1/2;
  grid-row: 1; 
  padding-top: 1rem;
  display: flex; 
  justify-content: left;
}

.video-info{
  grid-area: info;
  text-align: left;
  padding-top: 1rem;
}

.comment-text{
  display: flex; 
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 3; 
  width: 100%;
}
.comment-submit{
  padding: 1rem;
}

.comment{
  /* background-color: #de5a3515; */
  /* border-style: solid;
  border-radius: 2rem;
  border-color: #de5a35b8; 
  border-width: .2rem;  */
  padding: 1rem; 
  margin: 1rem;
}

